<%- include("partials/header.ejs") %>

<%let title = locals.title%>
<%let content = locals.content%>
<%let index = locals.index%>
<%=index  %>

<section id="heading">
  <h1 class="display-3 text-center">Edit Your Blog here</h1>
</section>
  <section id="edit-blog">
  <form class="mx-4" action="/edited" method="POST">
  <div class="form-group text-center">
    <p class="fs-1">Edit Title</p>
    <textarea class="form-control" id="editTitle" name="editTitle" rows="2" required><%=title%></textarea>
    <p class="fs-1">Edit Body</p>
    <textarea class="form-control" id="editContent" name="editContent" rows="10" required><%=content%></textarea>
    <input type="hidden" name="edited_index" value="<%=index %>">
    <input class="sub-btn btn btn-lg my-4" type="submit" value="Re-Publish">
    </div>
  </form>
  </section>


<%- include("partials/footer.ejs") %>